/* custom-node.css */

.custom-node {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 250px;
}

.node-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #ff0000;
    font-size: 12px;
}

.node-content {
    margin-bottom: 10px;
}

.node-question {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.node-answer {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.node-question-edit, .node-answer-edit {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.edit-controls {
    display: flex;
    justify-content: space-between;
}

.edit-controls button {
    margin-left: 5px;
}
