/* custom-node.css */

.custom-node {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 250px;
    position: relative; /* Added for drag handle */
}

.custom-node.selected {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.node-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -4px;
    font-size: 10px;
    background: #ecedf3;
}

.node-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -4px;
    font-size: 10px;
    background-color: #A3D8F4;
}

.node-header-pause {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -4px;
    font-size: 10px;
    background-color: #B9E2C8;
}

.node-header-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -4px;
    font-size: 10px;
    background-color: #F4C1D9;
}

.node-header-command {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -4px;
    font-size: 10px;
    background-color: #FFFACD;
}

.node-content {
    margin-bottom: 2px;
}

.node-question, .node-answer {
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.node-question-edit, .node-answer-edit {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.node-answer-edit-container {
    display: flex;
    align-items: center;
    color: red;
}

.delete-answer-button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.add-answer-button {
    margin-left: 15px;
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
}

.set-random-order-button {
    margin-left: 50px;
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
}

.edit-controls {
    display: flex;
    justify-content: space-between;
}

.edit-controls button {
    margin-left: 5px;
}

/* New styles for drag handle */
.drag-handle {
    cursor: move;
    width: 100%;
    height: 20px;
    background: #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}
/* Uygulanacak switch-container stili */
.switch-container {
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center; /* İçerikleri merkezlemek için */
    position: relative; /* Position tanımlaması eklenerek daha iyi bir layout sağlanır */
}

/* Switch text input stili */
.switch-container input[type="text"] {
    flex-grow: 1; /* Input elementini esnek yapmak için */
    padding: 2px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Ortak kullanılan Handle stilini tanımlayın */
.handle {
    background: gray;
    width: 10px;
    height: 10px;
    position: absolute; /* Handle'ın konumlandırılması için */
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

/* Edit controls düzenlemesi */
.edit-controls {
    margin-top: 5px; /* Düzenleme kontrollerine biraz boşluk ekleyin */
    display: flex;
    justify-content: space-between; /* Düğmeleri yaymak için */
}

.edit-controls button {
    padding: 3px 5px; /* Daha iyi tıklama alanı için */
    font-size: 12px; /* Font boyutunu ayarlayın */
    cursor: pointer; /* Cursor tipini pointer yapın */
}

.add-answer-button, .delete-answer-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

/* Stil tutarlılığını korumak için eklenen diğer ayarlar */
.custom-node, .switch-container {
    background-color: #fff; /* Arka plan rengi tutarlılığı */
}

.button-custom {
    background-color: #A3D8F4;
}

.button-pause {
    background-color: #B9E2C8;
}

.button-command {
    background-color: #FFFACD;
}

.button-switch {
    background-color: #F4C1D9;
}

.node-id {
    color: #918f8f; /* Silik gri renk */
    font-size: 8px; /* Küçük yazı tipi */
    font-style: italic; /* İtalik yazı tipi, isteğe bağlı */

}